<!DOCTYPE html>
<html lang="ko">
<link href="/stylesheets/header.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring!</title>
</head>
<body>
    <div class="header-login">
        <h1 class="login">
            <a href="/users/login">로그인</a>
        </h1>
        <h1 class="join">
            <a href="/users/join">회원가입</a>
        </h1>
    </div>
</body>
</html>