<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet">
<html>
  <head>
    <%-include('header.ejs') %>
    <%-include('menu.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
