<!DOCTYPE html>
<html lang="ko">
<link href="/stylesheets/menu.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring!</title>
</head>
<body>
    <div class="menu">
        <div class="logo">
            <img src="/images/spring_logo.png"/>
        </div>

        <div class="menu-list">
            <div class="board">
                <img src="/images/board.png"/>
                <a class="board-title">게시판</a>
            </div>
            <div class="test" onclick="location.href='/test'">
                <img src="/images/test.png"/>
                <a class="test-title">테스트</a>
            </div>
            <div class="prescription">
                <img src="/images/prescription.png"/>
                <a class="prescription-title" href="/prescription">복용약</a>
            </div>
            <div class="sleep" onclick="location.href='/sleep'">
                <img src="/images/sleep.png"/>
                <a class="sleep-title" href="/sleep">수면</a>
            </div>
            <div class="exercise" onclick="location.href='/exercise'">
                <img src="/images/exercise.png"/>
                <a class="exercise-title">운동</a>
            </div>
            <div class="diary" onclick="location.href='/diary'">
                <img src="/images/diary.png"/>
                <a class="diary-title">일기</a>
            </div>
        </div>
    </div>
</body>
</html>