<!DOCTYPE html>
<html>
<link href="/stylesheets/users/user.css" rel="stylesheet">
  <head>
    <%-include('../header.ejs') %>
    <%-include('../menu.ejs') %>
  </head>
  
  <body class = "user-background">
    

    <div class = "user">

        <img class = "logo" src="/images/spring_user_logo.png">
        
        <form class = "form" action="/users//password/change" method="post">
            
            <div>
                <div class = "text">
                    <b>새 비밀번호</b>
                </div>
                <input type = "password" name="newPassword" value="">
            </div>
            <br>
            <br>

            <div>
                <div class = "text">
                    <b>새 비밀번호 확인</b>
                </div>
                <input type = "password" name="doubleCheckNewPassword" value="">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div>
                <input class="button" type="submit" value="확인">
            </div>
        </form>
    </div>
  </body>
</html>
