<!DOCTYPE html>
<html>
<link href="/stylesheets/users/user.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<%-include('../header.ejs') %>

  
  <body class = "user-background">
    <div class = "user">
        <img class = "logo" src="/images/spring_logo.jpg">
        
        <form id="changePassword-form" class="form" action="/user/password/change?token=<%= token %>" method="put">
            <div>
                <div class = "text">
                    <b>새 비밀번호</b>
                </div>

                <input type = "password" name="newPassword" required>
            </div>
            <br><br>

            <div>
                <div class = "text">
                    <b>새 비밀번호 확인</b>
                </div>

                <input type = "password" name="doubleCheckNewPassword" required>
            </div>
            <br><br><br><br><br>

            <div>
                <input class="button" type="submit" value="확인">
            </div>
        </form>
    </div>

    <script>
        document.getElementById('changePassword-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const newPassword = formData.get('newPassword');
            const doubleCheckNewPassword = formData.get('doubleCheckNewPassword');
            const token = '<%= token %>';
            
            try {
                const response = await fetch('/user/password/change', {
                    method: 'PUT',
                    headers: {
                        'Content-Type' : 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    body: JSON.stringify({newPassword, doubleCheckNewPassword})
                });

                if (response.status == 200) {
                    const data = await response.json();
                    alert(`${data.message}`);
                    window.location.href = '/user/login';
                }
            } catch (error) {
                alert(`${error.message}`);
            }
        });
    </script>
  </body>
</html>
