<!DOCTYPE html>
<html>
<link href="/stylesheets/users/user.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<%-include('../header.ejs') %>

<body class = "user-background">
  <div class = "user">
      <img class = "logo" src="/images/spring_logo.jpg">

    <a href="/user/join/patient" class = "join-selected-button left">환자</a>
    <a href="/user/join/doctor" class = "join-non-selected-button right">의사</a>

      <form id="join-form" class="form">
        <div>
            <div class = "text">
                <b>성명</b>
            </div>
            <input type = "text" name = "name" class = "text_input" required>

            <div class = "text">
                <b>이메일</b>
            </div>

          <div class="email-submit-form">
            <div class="email-form-inline">
              <input type="text" name="email" class = "text_input" required>
            </div>
  
            <div class="button-form-inline">
              <input type="button" value="중복 확인" class = "button-checking-email">
            </div>
          </div>
        </div>

        <div>
          <div class = "text">
            <b>비밀번호</b>
          </div>
          <input type = "password" name = "password" class = "text_input" required>
        </div>

        <div>
          <div class = "text">
            <b>비밀번호 확인</b>
          </div>
          <input type = "password" name = "passwordCheck" class = "text_input" required>
        </div>

        <div>
          <input type="submit" class="submit" value="회원가입" class = "text_input">
        </div>

      </form>
  </div>