.diaryContainer {
    position: relative;
    top: 20rem;
}

.diary-entry {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.photo {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
}

.photo-frame {
    width: 475px;
    height: 420px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.photo-of-the-day {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photo-button {
    background-color: #bbd6df;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    margin-top: 10px;
}


.entry {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.entry label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entry-inputs {
    display: flex;
    gap: 41.5rem; 
}

.entry input[type="date"],
.entry input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}


.entry textarea {
    width: 100%;
    height: 600px;
    padding: 10px;
    font-size: 1em;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button {
    background-color: #bcd6c4;
    color: #687e70;
}

.all-entries {
    margin-top: 40px;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    font-size: 1em;
}
