.mypage-view{
    position: relative;
    top:23.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

.mypage-title{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.title{
    font-family: 'Pretendard-Bold';
    font-size: 3.2rem;
    color: #57575B;
}

.mypage-block{
    width: 80%;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 0.2rem solid #E3E2E2;
    padding: 7rem 10rem;
    display: flex;
    flex-direction: column;
    gap:2.4rem;
}

.password-block{
    display: flex;
    align-items: center;
    gap: 76.6rem;
    justify-content: space-between;
}

.password-title{
    font-family: 'Pretendard-Medium';
    font-size: 3.2rem;
    color: #57575B;
}

.connectDoc-block{
    display: flex;
    gap: 2.8rem;
    flex-direction: column;
}

.connectDoc-title{
    font-family: 'Pretendard-Medium';
    font-size: 3.2rem;
    color: #57575B;
}

.hr1{
    width: 100%;
}

.table-block{ 
    border-collapse: collapse; 
    width: 100%;
    table-layout: fixed;
}

th{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    height: 8.2rem;
    color: #393939;
    border-top: 0.1rem solid #000000;
    border-bottom: 0.1rem solid #000000;
    vertical-align: middle; 
}

.management-td{
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    height: 8.2rem;
    color: #393939;
    border-top: 0.1rem solid #B8ACAC;
    border-bottom: 0.1rem solid #B8ACAC;
    vertical-align: middle;
}

.button-td{
    font-weight: 700;
    font-size: 2.2rem;
    color: #393939;
    justify-content: center;
    display: flex;
    gap: 5rem;
    height: 8.2rem;
    align-items: center;
    width: 100%;
    border-bottom: 0.1rem solid #B8ACAC;
}

.accept-button{
    width: 15.6rem;
    height: 4.1rem;
    border: 0;
    border-radius: 1rem;
    color: #FFFFFF;
    font-family: 'Pretendard-Medium';
    font-size: 2.4rem;
    background-color: #484882;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(119, 138, 152, 0.5);
}

.refuse-button{
    width: 15.6rem;
    height: 4.1rem;
    border: 0;
    border-radius: 1rem;
    color: #282626;
    font-family: 'Pretendard-Medium';
    font-size: 2.4rem;
    background-color: #A6A6BE;
    box-shadow: 0.4rem 0.4rem 0.4rem #A6A6BE;
}

.done-button{
    width: 15.6rem;
    height: 4.1rem;
    border: 0;
    color: #393939;
    font-family: 'Pretendard-Medium';
    font-size: 2.2rem;
    background-color: #FFFFFF;
}

.disconnect-button{
    width: 15.6rem;
    height: 4.1rem;
    border: 0;
    border-radius: 1rem;
    color: #282626;
    font-family: 'Pretendard-Medium';
    font-size: 2.4rem;
    background-color: #A6A6BE;
    box-shadow: 0.4rem 0.4rem 0.4rem #A6A6BE;
}

.rangeSetting-block{
    display: flex;
    gap: 2.8rem;
    flex-direction: column;
}

.rangeSetting-title{
    font-family: 'Pretendard-Medium';
    font-size: 3.2rem;
    color: #57575B;
}

.range-content-block{ 
    border-collapse: collapse; 
    width: 100%;
    text-align: center;
}

.info{ 
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Work-Sans';
}

.accept{ 
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Work-Sans';
}

.medicine-check{
    width: 3rem;
    height: 3rem;
}

.sleep-check{
    width: 3rem;
    height: 3rem;
}

.exercise-check{
    width: 3rem;
    height: 3rem;
}

.test-check{
    width: 3rem;
    height: 3rem;
}

.medicine-tr{
    height:6rem
}

.sleep-tr{
    height:6rem
}

.exercise-tr{
    height:6rem
}

.test-tr{
    height:6rem
}

.save-range{
    background-color: #484882;
    color: #FFFFFF;
    font-family: 'Pretendard-Medium';
    font-size: 2.4rem;
    width: 15.6rem;
    height: 4.1rem;
    border-radius: 1rem;
}

.submit-block{
    display: flex;
    justify-content: end;
}

.rangeSetting-title:hover, .password-title:hover, .connectDoc-title:hover{
    border-bottom: 0rem;
}