.popup-prescription, .popup-record, .popup-edit  {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: visibility 0.3s, opacity 0.3s;
    display: flex;
    text-align: center;
}

.prescription-form, .record-form, .edit-form {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10 10 10 10 ;
}

.prescription-form input, .record-form input, .edit-form input  {
    margin-bottom: 2rem;
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1.5px solid #0c5401;
    border-radius: 1rem;
}
.record-form select {
    margin-bottom: 2rem;
    width: 63.5%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1.5px solid #0c5401;
    border-radius: 1rem;
}

.prescription-form button, .record-form button, .edit-form button {
    margin-top: 10px;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    background-color: #DBE6D9;
    border-radius: 1rem;
    border: 1.5px solid #0c5401;
}

.prescription-form form, .record-form form, .edit-form form {
    /* display: flex; */
    flex-direction: column;
    margin-bottom: 1rem;
}

.add-button, .add-button-record, .add-button-edit, .button-edit{
    display: block;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

.close-btn-delete, .close-delete {
    float: left;
    color: red;
}

.close-btn, .close-btn-record, .close-btn-edit, .close-edit { 
    float: right;
    cursor: pointer;
}

body {
    margin: 45rem 2rem 20rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 13px;
    margin-top: 1rem;
}

.chart-box {
    background-color: #FAFAFA;
    border: 0.2rem solid #E3E2E2;
    border-radius: 1rem;
    width: 122rem;
    height : 30rem;
    padding : 10rem;
    margin-top: -17rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.prescription-container {
    position: absolute;
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.prescription-list-content{
    display: flex;
    flex-direction: column;
    gap: 1.892rem;
}

.record-object, .prescription-object {
    width: 58.5rem;
    height: 14.779rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    border: 0.2rem solid #E3E2E2;
    margin: 0 auto;
}

.prescription-object div, .record-object div{
    display: flex;
    margin-left: 3rem;
    gap: 4rem;   
}

.container h2 {
    text-align: left;
}

.section-prescription, .section-record {
    background-color: #FAFAFA;
    width: 68.3rem;
    border-radius: 1rem;
    border: 0.2rem solid #E3E2E2;
}

.record-title > h1, .prescription-title > h1 {
    margin-left: 5.465rem;
    margin-top: 2rem;
}
.record-title, .prescription-title {
    display: flex;
    gap: 32rem;
}
.record-title button, .prescription-title button{
    width: 16.1rem;
    height: 3.2rem;
    margin-top: 1.5rem;
    margin-left: 0.8rem;
    background-color: #DBE6D9;
    border-radius: 1rem;
    border: 0.2rem solid #0c5401;
}

.record-list h1, .prescription-list h1  { /* 약 이름 */
    margin-left: 3rem;
    margin-top: 2rem;
}

hr {
    width: 92%;
}


