<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/doctor_main.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/menu.css" rel="stylesheet">
    <title>Spring!</title>
    <%-include('../header.ejs') %>
    
</head>
<body>
    <div class="menu">
        <div class="logo">
            <a class = "spring-logo-link" href="/">
                <img src="/images/spring_logo.jpg"/>
            </a>
        </div>
    </div>

    <div class="doctor_main-box">
        <div class="doctor_main-container">
            <div class="doctor_main-leftContainer1">
                <div class="patientListText-container">
                    <h1>나의 환자 목록</h1>
                </div>
                <div class="patitentListSearchButton-container">
                    <form method="get" action="#" role="search" style="display:inline" class="doctor_main-tab"> 
                        <input type="search" placeholder="아이디를 입력하세요" id="patient-search">
                        <button type="button" class="doctor_main-button" onclick="searchPatients()">검색</button>
                    </form>
                    <button type="button" class="doctor_main-button" onclick="openPopup()">환자 추가</button>
                    <%-include('../doctor/popupAddPatient.ejs') %>
                </div>
                <div class="doctor_main-leftContainer2">
                    <div class="patientSearchList-container">
                        <%-include('./patientSearchList.ejs') %>
                    </div>
                </div>
            </div>
            <div class="doctor_main-rightContainer1">
                <div class="requestListText-container">
                    <h1>요청 보낸 목록</h1>
                </div>    
                <div class="doctor_main-rightContainer2">
                    <div class="requestList-container">
                        <%-include('./requestList.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/myPatients.js"></script>
</body>
</html> 