<!--doctor_main-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/doctor_main.css" rel="stylesheet">
    <title>의사 메인페이지</title>
</head>
<body>
    <div class="doctor_main-box">
        <div class="doctor_main-container">
            <div class="doctor_main-leftContainer1">
                <div class="patientListText-container">
                    <h3>나의 환자 목록</h3>
                </div>
                <div class="patitentListSearchButton-container">
                    <%-include('./patientSearch.ejs') %>
                    <%-include('./patientAddButton.ejs') %>
                </div>
                <div class="doctor_main-leftContainer2">
                    <div class="patientSearchList-container">
                        <%-include('./patientSearchList.ejs') %>
                    </div>
                </div>
            </div>
            <div class="doctor_main-rightContainer1">
                <div class="requestListText-container">
                    <h3>요청 보낸 목록</h3>
                </div>    
                <div class="doctor_main-rightContainer2">
                    <div class="requestList-container">
                        <%-include('./requestList.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/myPatients.js"></script>
</body>
</html>