<!--doctor_main-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/doctor_main.css" rel="stylesheet">
    <title>의사 메인페이지</title>
</head>
<body>
    <div class="doctor_main-box">
        <div class="doctor_main-container">
            <div class="doctor_main-leftContainer1">
                <div class="patientListText-container">
                    <h3>나의 환자 목록</h3>
                </div>
                <div class="patitentListSearchButton-container">
                    <%-include('./patientSearch.ejs') %>
                    <%-include('./patientAddButton.ejs') %>
                </div>
                <div class="doctor_main-leftContainer2">
                    <div class="patientSearchList-container">
                        <%-include('./patientSearchList.ejs') %>
                    </div>
                </div>
            </div>
            <div class="doctor_main-rightContainer1">
                <div class="requestListText-container">
                    <h3>요청 보낸 목록</h3>
                </div>    
                <div class="doctor_main-rightContainer2">
                    <div class="requestList-container">
                        <%-include('./requestList.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--경로 수정함.. 원래 scripts라는 이름으로 되어있었음-->
    <script src="/javascripts/myPatients.js"></script>
    <!--페이지 로드 시 나의 전체 환자 목록을 가져옴-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/doctor_main/getAllPatients/1')  // doctorId를 적절히 넣어주세요.
            .then(response => response.json())
            .then(data => {
                const patientTable = document.getElementById('patientSearchResults');
                patientTable.innerHTML = ''; // 기존 내용을 초기화

                data.forEach(patient => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${patient.email}</td>
                        <td>${patient.name}</td>
                        <td><button type="button" class="doctor_main-button" onclick="viewPatient('${patient.userId}')">열람</button></td>
                    `;
                    patientTable.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching all patients:', error));
        });
    </script>

</body>
</html>