<!--검색리스트-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환자 목록</title>
</head>
<body>
    <table class="patientSearchList-table">
        <thead>
            <tr>
                <th>환자 아이디</th>
                <th>환자 이름</th>
                <th>열람</th>
            </tr>
        </thead>
        <tbody id="patientSearchResults">
            <!-- 검색 결과가 여기에 표시됩니다 -->
        </tbody>
    </table>
</body>
</html>