<!--아이디검색탭, 검색버튼-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/doctor_main.css" rel="stylesheet">
</head>
<body>
    <form method="get" action="#" role="search" style="display:inline" class="doctor_main-tab"> 
    <input 
        type="search" 
        placeholder="아이디를 입력하세요"
        id="patient-search">
    <button type="button" class="doctor_main-button" onclick="searchPatients()">검색</button>
    </form>
</body>
</html>