<!--요청 보낸 목록-->

<body>
    <table class="requestList-table">
        <thead>
            <tr>
                <th>환자 아이디</th>
                <th>환자 이름</th>
                <th>취소</th>
            </tr>
        </thead>
        <tbody id="requestListResults">
            <!-- 요청 목록이 여기에 표시됩니다 -->
        </tbody>
    </table>
</body>
</html>