<!--요청 보낸 목록-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요청 보낸 목록</title>
</head>
<body>
    <table class="requestList-table">
        <thead>
            <tr>
                <th>환자 아이디</th>
                <th>환자 이름</th>
                <th>취소</th>
            </tr>
        </thead>
        <tbody id="requestListResults">
            <!-- 요청 목록이 여기에 표시됩니다 -->
        </tbody>
    </table>
</body>
</html>