<!DOCTYPE html>
<html>
<link href="/stylesheets/users/user.css" rel="stylesheet">
  <head>
    <%-include('../header.ejs') %>
    <%-include('../menu.ejs') %>
  </head>

  <body class = "user-background">
    <div class = "user">
        <img class = "logo" src="/images/spring_user_logo.png">

        <form class = "form" action="/users/join" method="post">
            <div>
              <div class = "text">
                <b>이메일</b>
              </div>

              <div class = "email-form-inline">
                <input type = "text" name = "email" value="">
              </div>

              <div class = "button-form-inline">
                <input type = "submit" value = "중복 확인">
              </div>

            </div>
            <br>
            <br>

            <div>
              <div class = "text">
                <b>비밀번호</b>
              </div>
              <input type = "password" name = "password" value="">
            </div>
            <br>
            <br>

            <div>
              <div class = "text">
                <b>비밀번호 확인</b>
              </div>
              <input type = "password" name = "passwordCheck" value="">
            </div>

            <br>
            <br>

            <div>
              <input class="button" type="submit" value="회원가입">
            </div>

        </form>
    </div>
  </body>
</html>
