<!DOCTYPE html>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/exercise.css"> <!-- 내 스타일시트 파일 경로 -->
  <%-include('../header.ejs') %>
  <%-include('../menu.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <body>
    <div class="north">
        <div class="north-content">
          <input id="but1" type="button" name="yes" value="&lt" onclick="previousDay()">
          <input id="but2" type="button" name="tody" value="" disabled>
          <input id="but3" type="button" name="tom" value="&gt" onclick="nextDay()">
        </div>
    </div>

    <div class="centers">
      <div class="center1">
        <canvas id="exerciseChart" width="800" height="500"></canvas>
      </div>

      <div class="center2">
        <form id="exerciseForm">
          <div class="real-form">
            <!-- <form id="exerciseForm" onsubmit="addExercise(event)"> -->
            <div class="exercise-date">
              <div class="date-picker-def">날짜</div>
              <input type="date" id="datePicker">
            </div>

            <div class="exercise-select-def">운동 종류
              <div class="exercise-select">
                <input type="text" name="exercise_type" id="exercise_type">
              </div>
            </div>

            <div class="exercise-time">

            <div class="exercise-start-time-def">
              운동 시작 시간
              <div class="exercise-start-time">
                <select name="shour" id="select_shour">
                  <option value="00">00시</option>
                  <option value="01">01시</option>
                  <option value="02">02시</option>
                  <option value="03">03시</option>
                  <option value="04">04시</option>
                  <option value="05">05시</option>
                  <option value="06">06시</option>
                  <option value="07">07시</option>
                  <option value="08">08시</option>
                  <option value="09">09시</option>
                  <option value="10">10시</option>
                  <option value="11">11시</option>
                  <option value="12">12시</option>
                  <option value="13">13시</option>
                  <option value="14">14시</option>
                  <option value="15">15시</option>
                  <option value="16">16시</option>
                  <option value="17">17시</option>
                  <option value="18">18시</option>
                  <option value="19">19시</option>
                  <option value="20">20시</option>
                  <option value="21">21시</option>
                  <option value="22">22시</option>
                  <option value="23">23시</option>
                </select>      
                <select name="sminute" id="select_sminute">
                  <option value="00">00분</option>
                  <option value="10">10분</option>
                  <option value="20">20분</option>
                  <option value="30">30분</option>
                  <option value="40">40분</option>
                  <option value="50">50분</option>
                </select>
              </div>
            </div>

            <div class="exercise-finish-time-def">
              운동 종료 시간
              <div class="exercise-finish-time">
                <select name="fhour" id="select_fhour">
                  <option value="00">00시</option>
                  <option value="01">01시</option>
                  <option value="02">02시</option>
                  <option value="03">03시</option>
                  <option value="04">04시</option>
                  <option value="05">05시</option>
                  <option value="06">06시</option>
                  <option value="07">07시</option>
                  <option value="08">08시</option>
                  <option value="09">09시</option>
                  <option value="10">10시</option>
                  <option value="11">11시</option>
                  <option value="12">12시</option>
                  <option value="13">13시</option>
                  <option value="14">14시</option>
                  <option value="15">15시</option>
                  <option value="16">16시</option>
                  <option value="17">17시</option>
                  <option value="18">18시</option>
                  <option value="19">19시</option>
                  <option value="20">20시</option>
                  <option value="21">21시</option>
                  <option value="22">22시</option>
                  <option value="23">23시</option>
                </select>      
                <select name="fminute" id="select_fminute">
                  <option value="00">00분</option>
                  <option value="10">10분</option>
                  <option value="20">20분</option>
                  <option value="30">30분</option>
                  <option value="40">40분</option>
                  <option value="50">50분</option>
                </select>
              </div>
            </div>
          </div>
            <div class="exercise-score">
              <div class="exercise-score-def">평가 점수</div>
              <div class="progress-container" id="progress-container">
                <div class="progress-bar" id="progress-bar">
                    <div class="handle" id="handle"></div>
                </div>
              </div>
              <p>현재 평가: <span id="rating">0</span> / 5</p>
            </div>

            <div class="exercise-evaluation">
              <textarea name="comments" id="comments" placeholder="오늘의 운동은 어땠나요?"></textarea>
            </div>
          </div>
          <div class="submit">
            <input type="submit" class="tsubmitbut" value="추가"> 
          </div>
        </form>
      <!--input type="submit" class="tsubmitbut" value="최종제출"-->
        
      </div>
    
  </div>


  <div class="result">
    <table class="exercise-head">
      <thead>
        <tr class="list-head" scope="col">
            <th class="th-name">이름</th>
            <th class="th-score">점수</th>
            <th class="th-content">내용</th>
        </tr>
      </thead>
      <tbody id="exercise-body">

      </tbody>
    </table>
  </div>
    
    
    <script> 
    let exerciseChart;
    let token;

    document.getElementById('exerciseForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const shour = formData.get('shour');
      const sminute = formData.get('sminute');
      const fhour = formData.get('fhour');
      const fminute = formData.get('fminute');
      const date = document.getElementById('datePicker').value;
      const star = document.getElementById('rating').textContent;

      const exerciseData = {
            exercise_type: formData.get('exercise_type'),
            shour: shour,
            sminute: sminute,
            fhour: fhour,
            fminute: fminute,
            start_exercise_time: `${shour}:${sminute}`, // 추가된 필드
            end_exercise_time: `${fhour}:${fminute}`,   // 추가된 필드
            //exercise_date: new Date().toISOString().split('T')[0], // 현재 날짜 추가
            exercise_date: date,
            evaluation: star,
            comments: formData.get('comments')
        };


    try {
        const response = await fetch('exercise/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify(exerciseData)
        });

        if (!response.ok) {
            throw new Error('Failed to save exercise');
        }

        const result = await response.json();
        console.log(result);
        alert('운동 기록이 저장되었습니다');

        window.location.reload(true);
  
    } catch (error) {
        console.error(error);
        //alert('운동 기록 저장에 실패했습니다.'); 자꾸 창이떠서 걍 없앰
    }
  });

  //운동그래프 띄우기
  function updateChart(exerciseData) {
    const ctx = document.getElementById('exerciseChart').getContext('2d');
    const chartData = {
        labels: Array.from({ length: 24 }, (_, i) => `${i}시`),
        datasets: exerciseData.map(data => {
            const startHour = parseInt(data.start_exercise_time.split(':')[0]);
            const endHour = parseInt(data.end_exercise_time.split(':')[0]);
            const durationMinutes = (parseInt(data.end_exercise_time.split(':')[0]) * 60 + parseInt(data.end_exercise_time.split(':')[1])) -
                                    (parseInt(data.start_exercise_time.split(':')[0]) * 60 + parseInt(data.start_exercise_time.split(':')[1]));
            const durationHours = durationMinutes / 60;
            return {
                label: data.exercise_type,
                data: Array.from({ length: 24 }, (_, i) => (i > startHour && i < endHour ? durationMinutes : 0)),
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                borderWidth: 1
            };
        })
    };
    if (exerciseChart) {
        exerciseChart.destroy();
    }
    exerciseChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: '시간',
                        font: {
                          size: 20 // x축 제목 폰트 크기 설정
                        }
                    },
                    ticks: {
                        autoSkip: false,
                        maxRotation: 90,
                        minRotation: 90,
                        font: {
                            size: 18 // x축 눈금 폰트 크기 설정
                        } 
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: '운동 시간 (분)',
                        font: {
                          size: 20 // y축 제목 폰트 크기 설정
                        }
                    },
                    beginAtZero: true,
                    min: 0,
                    ticks: {
                        stepSize: 30,
                        font: {
                          size: 18 // y축 제목 폰트 크기 설정
                        }
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 20 // 라벨 폰트 크기 설정
                        }
                  
                    }
                }
            },
            

        }
    });
}


      // 초기 로딩 시 현재 날짜 표시
      updateCurrentDate();
      // 하루 전 버튼 클릭 시
      function previousDay() {
        changeDate(-1);
        
      }
      // 하루 후 버튼 클릭 시
      function nextDay() {
        changeDate(1);
      }
      // 날짜 변경 함수
      function changeDate(days) {
        const currentDate = document.getElementById('but2').value;
        let newDate = new Date(currentDate);
        newDate.setDate(newDate.getDate() + days);
        document.getElementById('but2').value = formatDate(newDate);

        let newDateString = formatDate(newDate);

        fetch(`/exercise/${newDateString}`, {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${token}`
            }
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          updateChart(data);
          updateList(data);
        })
        .catch(error => console.error('Error fetching exercise entry:', error));
        
      }


      // 날짜 형식을 YYYY.MM.DD로 변환하는 함수
      function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}.${month}.${day}`;
      }
      // 현재 날짜를 표시하는 함수
      function updateCurrentDate() {
        const today = new Date();
        document.getElementById('but2').value = formatDate(today);
      }

      document.addEventListener('DOMContentLoaded', function() {
        const today = formatDate(new Date());

        token = localStorage.getItem('token');
        if (token) {
            console.log('Token exists in localSotrage: ', token);
        }
        else {
            console.log('Token does not exist in localStorage');
            window.location.href = '/user/login';
        }

        fetch(`/exercise/${today}`, {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${token}`
            }
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          updateChart(data);
          updateList(data);
        })
        .catch(error => console.error('Error fetching exercise entry:', error));
      });

  // 차트 초기화
  const ctx = document.getElementById('exerciseChart').getContext('2d');
  exerciseChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: Array.from({ length: 24 }, (_, i) => `${i}시`), // 0시부터 23시까지 라벨
      datasets: []
    },
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: '시간',
            font: {
              size: 20 
            }
          },
          ticks: {
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            font: {
              size: 18
            }
          }
        },
        y: {
          title: {
            display: true,
            text: '운동 시간 (분)',
            font: {
              size: 20
            }
          },
          beginAtZero: true,
          min: 0,
          ticks: {
            stepSize: 30, // y축 눈금을 30분 단위로 설정
            font: {
              size: 18
            }
          }
        }
      }
    }
  });
  
  const progressContainer = document.getElementById('progress-container');
  const progressBar = document.getElementById('progress-bar');
  const handle = document.getElementById('handle');
  const ratingDisplay = document.getElementById('rating');
  const updateProgress = (event) => {
      progressBar.classList.add('gradient');
      handle.style.display = 'block';
      const rect = progressContainer.getBoundingClientRect();
      const offsetX = event.clientX - rect.left;
      const width = Math.max(0, Math.min(offsetX, rect.width));
      const percentage = (width / rect.width) * 100;
      const steps = Math.round((percentage / 100) * 5);
      progressBar.style.width = `${(steps / 5) * 100}%`;
      ratingDisplay.textContent = steps;
      localStorage.setItem('userRating', steps);
  };
  handle.addEventListener('mousedown', () => {
      document.addEventListener('mousemove', updateProgress);
  });
  document.addEventListener('mouseup', () => {
      document.removeEventListener('mousemove', updateProgress);
  });
  progressContainer.addEventListener('click', (event) => {
      updateProgress(event);
  });
  const savedRating = localStorage.getItem('userRating');
  if (savedRating !== null) {
      progressBar.classList.add('gradient');
      handle.style.display = 'block';
      const savedPercentage = (savedRating / 5) * 100;
      progressBar.style.width = `${savedPercentage}%`;
      ratingDisplay.textContent = savedRating;
  }

  function getRandomColor() {
    const base = 128; // 파스텔톤을 위해 기본 값 설정
    const variance = 127; // 기본 값에 더해질 범위 설정

    const r = Math.floor(Math.random() * variance + base).toString(16).padStart(2, '0');
    const g = Math.floor(Math.random() * variance + base).toString(16).padStart(2, '0');
    const b = Math.floor(Math.random() * variance + base).toString(16).padStart(2, '0');

    return `#${r}${g}${b}`;
  }

  function updateList(data){
    const tableBody = document.querySelector('#exercise-body');

    while (tableBody.firstChild) {
      tableBody.removeChild(tableBody.firstChild);
    }


    // 데이터 추가
    data.forEach(item => {
      const row = document.createElement('tr');

      const nameCell = document.createElement('td');
      nameCell.textContent = item.exercise_type;
      row.appendChild(nameCell);

      const scoreCell = document.createElement('td');
      scoreCell.textContent = item.exercise_rate;
      row.appendChild(scoreCell);

      const commentsCell = document.createElement('td');
      commentsCell.textContent = item.comments;
      row.appendChild(commentsCell);

      tableBody.appendChild(row);
});
  }


    </script>
  </body>
</html> 