<!DOCTYPE html>

<div class="test-list">
    <h1 class="test-name">테스트 결과</h1>
    <!-- 테이블 필요 -->
    <table class="test-head">
        <tr class="list-head" scope="col">
            <th>일자</th>
            <th>점수</th>
        </tr>
        <tr class="list-content">
            <td>2024.04.14</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
        <tr class="list-content">
            <td>2024.04.13</td>
            <td>27점</td>
        </tr>
    </table>
</div>