<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/test.css" rel="stylesheet">

<%-include('../header.ejs') %>
<%-include('../menu.ejs') %>

<div class="test-page">
    <%-include('./testList.ejs', {testList: testList}) %>
    <%-include('./testContent.ejs') %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const token = localStorage.getItem('token');

        if (token) {
            console.log('Token exists in localSotrage: ', token);
        }
        else {
            console.log('Token does not exist in localStorage');
            window.location.href = '/user/login';
        }
    })
</script>