<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/test.css" rel="stylesheet">

<%-include('../header.ejs') %>
<%-include('../menu.ejs') %>

<div class="test-result-page">
    <%-include('./testList.ejs')%>
    <%-include('./testResultContent.ejs', {testResult: testResult}) %>
</div> 