<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/test.css" rel="stylesheet">

<%-include('../header.ejs') %>
<%-include('../menu.ejs') %>

<div class="test-page">
    <%-include('./testList.ejs') %>
    <%-include('./testContent.ejs') %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const token = localStorage.getItem('token');
        
        if (token) {
            const response = await fetch('/test', {
                method: 'GET', // or 'GET'
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Content-Type': 'application/json'
                }
            });
        }
        else {
            console.log('Token does not exist in localStorage');
            window.location.href = '/user/login';
        }
    })
</script>