<!DOCTYPE html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var rows = document.querySelectorAll('.list-content');
        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                var href = this.getAttribute('data-href');
                console.log(window.location.pathname);
                if (href) {
                    window.location.pathname = `test/${href}`;
                }
            });
        });
    });
</script>
<div class="test-list">
    <h1 class="test-name">테스트 결과</h1>
    <!-- 테이블 필요 -->
    <table class="test-head">
        <tr class="list-head" scope="col">
            <th>일자</th>
            <th>점수</th>
        </tr>
        <% for(var i = 0; i<testList.length; i++){ %>
            <tr class="list-content" data-href="<%= testList[i].test_id %>">
                <td><%= testList[i].test_date %></td>
                <td><%= testList[i].total_score %></td>
            </tr>
        <% } %>
    </table>
</div>